<!-- Recipe Display -->
<div class="col-lg-5 col-sm-10 py-3">
  <h2><%= locals.drink %></h2>
  <p>Type: <span class="teal"><%= locals.type %></span></p>
  <p>Category: <span class="teal"><%= locals.category %></span></p>
  <p>Glass: <span class="teal"><%= locals.glass %></span></p>
  <p>Instructions: <%= locals.instructions %></p>
  <p>Ingredients:</p>
  <ul>
    <% for (let index = 0; index < locals.ingredients.length; index++) { %>
      <li><%= measurements[index] + " - " + ingredients[index]; %></li>
    <% } %>
  </ul>
</div>

<div class="col-lg-7 col-sm-12 p-2 d-flex justify-content-center">
  <div class="row mb-1">
      <div class="mx-auto z-2" style="width: 400px; height: 400px;">
        <img 
          src="<%= locals.image %>" 
          class="img-fluid shadow-lg mb-3"
          id="drink-image"
          alt="picture of a drink">
      </div>
  </div>
  
</div>